.input {
    border: white;
    border-bottom: 1px solid black;
    transition: all 150ms ease-in;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 66%;
}

label.login {
    color: white;
    font-size: 31px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times;
}

input.login {
    height: 2rem;
    border: none;
    border-radius: 140px;
}

.chat_message {
    width: 90%;
    border: 1px solid black;
    border-radius: 1rem;
    padding: .5rem;
    position: absolute;
    height: 1rem;
}