@import url('https://fonts.cdnfonts.com/css/spline-sans-mono');
@import url('https://fonts.cdnfonts.com/css/varuna');

@keyframes holder_to_register_animation {
    to {
        bottom: 0;
    }
}

@keyframes holder_to_chat_animation {
    to {
        bottom: -100%;
    }
}

@keyframes login_wave_1_animation {
    to {
        top: -70%;
    }
}

@keyframes login_wave_2_animation {
    to {
        top: -90%;
    }
}

@keyframes login_wave_3_animation {
    to {
        top: -94%;
    }
}

@keyframes register_wave_1_animation {
    to {
        top: -70%;
    }
}

@keyframes register_wave_2_animation {
    to {
        top: -75%;
    }
}

@keyframes register_wave_3_animation {
    to {
        top: -86%;
    }
}

* {
    font-family: 'Varuna', sans-serif !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
}

.wave {
    position: absolute;
    width: 100%;
    top: 0;
    transition: all 600ms ease;
    height: 70%;
}

.login_wave_1 {
    animation: login_wave_1_animation 400ms forwards ease-out;
    z-index: 3;
}

.login_wave_2 {
    animation: login_wave_2_animation 500ms forwards ease-out;
    z-index: 2;
}

.login_wave_3 {
    animation: login_wave_3_animation 600ms forwards ease-out;
    z-index: 1;
}

.register_wave_1 {
    z-index: 3;
}

.register_wave_2 {
    z-index: 2;
}

.register_wave_3 {
    z-index: 1;
}

.to_register_holder {
    width: 100vw;
    height: 100vh;
    position: absolute;
    bottom: -100vh;
    background: rgb(41, 164, 195);
    background: linear-gradient(180deg, rgba(41, 164, 195, 1) 0%, rgba(49, 141, 178, 1) 100%);
}

.to_chat_holder {
    width: 100vw;
    height: 100vh;
    position: absolute;
    bottom: -200vh;
    background: rgb(49, 141, 178);
    background: linear-gradient(180deg, rgba(49, 141, 178, 1) 0%, rgba(4, 105, 151, 1) 100%);
}

.bubble {
    position: absolute;
    top: -200%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}