@import url('https://fonts.cdnfonts.com/css/spline-sans-mono');
@import url('https://fonts.cdnfonts.com/css/varuna');

@keyframes form_wave {
    from {
        background-position-y: -300%;
    }

    to {
        background-position-y: bottom;
    }
}

* {
    font-family: 'Varuna', sans-serif !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
}

.wave {
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: -100%;
    transition: all 600ms ease;
}

.wave_1 {
    bottom: -18%;
    z-index: 3;
}

.wave_2 {
    bottom: 13%;
    z-index: 2;
}

.wave_3 {
    bottom: 16%;
    z-index: 1;
}

.to_register_holder {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #29A4C3;
    bottom: -100%;
    transition: all 300ms;
}

.to_register_holder.toRegister {
    bottom: 0;
}

.wave.toRegister {
    bottom: 100%;
}

.form_container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 6;
    border-radius: 140px;
    border: 8px solid #FFF;
    width: 33%;
    height: 50%;
    background: url('../../assets/form_wave.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    transition: all 200ms ease-in;
    animation: form_wave 1s forwards;
}

.button_clickableText {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
}